.card{
    width:300px;
    height:550px;
}
.card:nth-child(odd){
    background-color:aquamarine;
}
.card:nth-child(even){
    background-color:lightgray;
}
main{
    overflow:auto;
    height:700px;
    justify-content:center;
}
