.card{
    height:520px;
    width:250px;
}
.card:nth-child(odd){
    background-color:aquamarine;
}
.card:nth-child(even){
    background-color:lightgray;
}
main{
    overflow:auto;
   height:38rem;
}
